@page "/"

<PageTitle>Home</PageTitle>
<div class="head">
    <div class="info">
        <h3><a href="https://www.youtube.com/%40mactanindependentbaptistch9803/streams">MIBC</a></h3>
        <h3><a href="https://web.facebook.com/profile.php?id=100080381944737">Mactan Independent Baptist Church</a></h3>
        <div class="meta">
            <h2>
                Preaching the Gospel<br />that only Jesus saves.
            </h2>
        </div>
    </div>
</div>
<FluentCard>
    <div>
        
    </div>
</FluentCard>