@page "/"

<PageTitle>Home</PageTitle>
<div class="head">
    <div class="info">
        <a href="https://www.youtube.com/%40mactanindependentbaptistch9803/streams"><img src="Resources/4e320da4-efe1-4103-84c5-11e0e21a49cb.png" alt="MIBC Logo" class="mibc-logo"/></a>
        <h3><a href="https://web.facebook.com/profile.php?id=100080381944737">Mactan Independent Baptist Church</a></h3>
        <div class="meta">
            <h2>
                Preaching the Gospel<br />that only Jesus saves.
            </h2>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="blog-card">
    <div class="meta">
        <div class="photo" style="background-image: url(Resources/b6c48270-6543-4dcb-9d5d-b0fda8cd5790.jfif)"></div>
        <ul class="details">
            <li class="author"><a href="https://www.facebook.com/baweencabardo.biernesa">Weindell Biernesa</a></li>
            <br/>
            <li class="morning">Sundays 9:00 AM - 12:00 PM</li>
            <li class="night">Sundays  5:00 PM - 7:00 PM</li>
        </ul>
    </div>
    <div class="description">
        <h1>Join our Sunday services</h1>
        <h2>Come and worship the Lord</h2>
        <p>Join us every Sunday for a time of worship, fellowship, and community. Whether you are seeking spiritual growth, seeking answers, or looking to connect with others, our doors are open to you. Our services are designed to uplift your spirit and deepen your faith.</p>
        <p class="read-more">
            <a href="https://maps.app.goo.gl/vGj7Fh2r2ZapDPP5A">Location</a>
        </p>
    </div>
</div>
<div class="blog-card alt">
    <div class="meta">
        <div class="photo" style="background-image: url(Resources/cb2c7050-22fa-4702-801e-3c3372c90e97.jfif)"></div>
        <ul class="details">
            <li class="author"><a href="https://www.facebook.com/baweencabardo.biernesa">Weindell Biernesa</a></li>
            <br />
            <li class="night">Wednesdays 6:30 PM - 8:30 PM</li>
        </ul>
    </div>
    <div class="description">
        <h1>Join our Wednesday services</h1>
        <h2>Be blessed and be a blessing</h2>
        <p>Looking for a midweek boost? Join our Wednesday services for a time of spiritual refreshment and community support. Come as you are and experience uplifting worship, relevant teachings, and a warm community atmosphere.</p>
        <p class="read-more">
            <a href="https://maps.app.goo.gl/vGj7Fh2r2ZapDPP5A">Location</a>
        </p>
    </div>
</div>
